<body>
    {% for product in products %}
        <h2>{{ product.getName() }}</h2>
        <p>
            {{ product.getDescription() }}
            {{ product.getPrice().getAmount() }} {{ product.getPrice().getCurrency().getCode() }}
        </p>
    {% endfor %}
</body>